body{
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    padding: 2%;
    text-align: center;
    color: rgb(0, 148, 20);
    margin: auto;
}
h2{
    padding:3%;
    margin: auto;
}
a,p{
    padding: 0.5%;
    color: rgb(0, 255, 238);
    padding: 5%;
}
ul,ol{
    color: rgb(0, 255, 238);
    margin-left: 1%;
    padding: 1%;
}
.h2haibhai{
    list-style-type: disc;
    padding: 1%;
    list-style-position: outside;
    color: rgb(53, 230, 77);
}
img{
    margin-left: 500px;
    margin-top: -400px;
}